.curtain {
  background: $midGray;
  opacity: 0.5;
  position: absolute;
  height: calc(100% - 150px);
  width: 70%;
  top: 100px;
  left: calc(50% - 35%);
  transition: $transition-duration;
  transform: translateX(-110vw);
  
  
  &.in {
    animation: curtainIn 3s 1s;
  }
}

@keyframes curtainIn {
  0% {
      transform: translateX(110vw);
  }
  50% {
      transform: translateX(0);
  }
  100% {
      transform: translateX(-110vw);
      opacity: 0;
  }
}