body {
  transition: .6s;
  transition-timing-function: cubic-bezier(.77, 0, .175, 1);
  background: #ededed;
  overflow-x: hidden;
  
  &.zoomed,
  &.zoomed #wrap {
    overflow: hidden;
  }
}

#wrap {
  transition: $transition-duration;
}

.site-header {
  background: $black;
  display: flex;
  align-items: center;
}

.site-title {
  flex: 1;
}

.site-logo {
  color: $orange;
  font-weight: 600;
  padding: 10px;
  text-transform: lowercase;
  
  &::after {
    content: '.';
  }
}