body {
  transition: .6s;
  transition-timing-function: cubic-bezier(.77, 0, .175, 1);
  background: #fff;
  overflow-x: hidden;
  
  &.zoomed,
  &.zoomed #wrap {
    overflow: hidden;
  }
  
  &.zoomed .section {
    height: calc(100vh - 65px);
  }
}

#wrap {
  transition: $transition-duration;
}

.site-header {
  // background: $black;
  display: flex;
  align-items: center;
  position: relative;
  z-index: 2;
  padding: 20px 0;
  margin: 0 20px;
  border-bottom: 1px dashed $lightGray;
}

.site-title {
  flex: 1;
}

.site-logo {
  color: $black;
  font-weight: 600;
  padding: 10px;
  text-transform: lowercase;
  
  &::after {
    content: '.';
  }
}