body {
  transition: .6s;
  transition-timing-function: cubic-bezier(.77, 0, .175, 1);
  background: $lightGray;
  overflow-x: hidden;
}

html, body, #wrap, .post {
  height: 100%;
}

#wrap {
  transition: $transition-duration;
}

body {
   font-family: 'Roboto', sans-serif;
 }
 
 .grid {
   display: grid;
   grid-template-rows: 50px auto;
   grid-template-areas: 
    "header"
    "main";
 }
 
 .site-header {
   grid-area: header;
   background: #fff;
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   align-content: center;
   padding: 0 20px;
   border-bottom: 1px dotted $black;
   @include respond-to(medium) { border: 0; }
   
   a {
     text-decoration: none;
     color: $black;
     margin: 0 10px;
   }
 }
 
 .site-title {
   font-family: 'Cherry Swash', cursive;
   font-size: 24px;
   span {
     color: $magenta;
   }
 }
 
 main {
   grid-area: main;
 }
 
 main.slide {
   transform: translateX(-300px);
 }
 
 .site-footer {
   grid-area: footer;
 }