.post {
  padding: 20px;
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
  display: flex;
  @include respond-to(medium) {
    padding: 20px 0 0 0;
  }
}

.post-header {
  margin: 0 0 0 20px;
  order: 1;
  flex: 0 0 250px;
  display: flex;
  flex-direction: column;
  
  .col {
    flex: 0;
  }
  
  h1 {
    font-size: inherit;
    margin: 0;
  }
  
  .post-description {
    flex: 1;
    p {
       margin: 0;
     }
  }
}

.image {
  flex: 0 1 auto;
  margin-bottom: 0;
  max-height: 600px;
  overflow: hidden;
  background-size: cover;
  background-color: #fff;
  transition: $transition-duration;
  transform: scale(1);
  
  &.zoom {
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    max-height: none;
    transform: scale(0.95);
    transition-duration: .6s;
    transition-timing-function: cubic-bezier(.77, 0, .175, 1)
  }
}

.image.zoom > img {
  display: none;
}