<div class="curtain"></div>
<header class="site-header">
  <span class="site-title">
    <a class="site-logo" href="{{ "/" | relative_url}}">Type<span>g</span>eek</a>
  </span>
  <input id="toggle" type="checkbox">
  <label class="toggle-container" for="toggle"> 
  </label>
  <nav class="menu">
    <ul>
      {% for post in site.posts %}
        <li>
          <a class="menu__item" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
        </li>
      {% endfor %}
    </ul>
  </nav>
</header>